<h2>Form Array</h2>

<form [formGroup]="usersForm">

  <div formArrayName="users">

    <div *ngFor="let user of users.controls; index as i" [formGroupName]="i" class="user-fields">

      <header>
        <h3>User - {{ i }}</h3>
        <div class="close-btn" (click)="removeUser(i)">
          <i class="fa fa-times" aria-hidden="true"></i>
        </div>
      </header>

      <app-form-field [control]="user.get('name')" [fieldName]="'name'"
        [validators]="['required', 'minlength', 'forbiddenWord', 'duplicated']"></app-form-field>

      <app-form-field [control]="user.get('password')" [fieldName]="'password'" [validators]="['required', 'minlength']" [type]="'password'">
      </app-form-field>

    </div>

  </div>


  <div class="form-control">
    <button class="btn" (click)="addUserFields()">Add User</button>
    <button class="btn" [disabled]="usersForm.invalid" (click)="confirm()">Confirm</button>
  </div>


  <div class="form-submit-result" *ngIf="result">
    <div *ngFor="let row of result" class="result-row">
      <div><b>Name:</b> {{ row.name }}</div>
      <div><b>Password: </b> {{ row.password.slice(0, 3) + '*'.repeat(row.password.length - 3) }}</div>
    </div>
  </div>

</form>
