<h2>Reactive Form</h2>

<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <div class="field" [ngClass]="isInvalid(name) ? 'alert' : ''">
    <label for="">Name</label>

    <input type="text" id="name" class="field" formControlName="name" required>

    <div *ngIf="isInvalid(name)">

      <p *ngIf="name.errors?.required">
        Name is required.
      </p>
      <p *ngIf="name.errors?.minlength">
        Name must be at least 4 characters long.
      </p>
      <p *ngIf="name.errors?.forbiddenName">
        '{{ name.value }}' can't be included in your name.
      </p>

      <p *ngIf="name.errors?.forbiddenWord">
        Don't use a word like '{{ name.errors?.forbiddenWord.value }}'
      </p>
    </div>
  </div>

  <div class="field" [ngClass]="isInvalid(password) ? 'alert' : ''">
    <label for="password">Password</label>

    <input type="password" id="password" formControlName="password" required>

    <div *ngIf="isInvalid(password)">

      <p *ngIf="password.errors?.required">
        Password is required.
      </p>

      <p *ngIf="password.errors?.minlength">
        Password must be at least 6 characeters long.
      </p>

    </div>
  </div>

  <div class="form-control">
    <button class="btn" [disabled]="userForm.invalid">Confirm</button>
  </div>

</form>
