<h2>Reactive Form</h2>

<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <div class="field">
    <label for="">Name</label>

    <input type="text" id="name" class="field" formControlName="name" required>

    <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">

      <p *ngIf="name.errors?.required">
        Name is required.
      </p>
      <p *ngIf="name.errors?.minlength">
        Name must be at least 4 characters long.
      </p>
      <p *ngIf="name.errors?.forbiddenName">
        Name cannot be Bob.
      </p>

      <p *ngIf="name.errors?.forbiddenWord">
        Stop saying the word like '{{ name.errors.forbiddenWord.value }}'
      </p>
    </div>
  </div>

  <div class="field">
    <label for="">phone</label>

    <input type="text" id="phone" formControlName="phone" required>

    <div *ngIf="phone.invalid && (phone.dirty || phone.touched)" class="alert alert-danger">

      <p *ngIf="phone.errors?.required">
        phone number is required.
      </p>
      <p *ngIf="phone.errors?.forbiddenphone">
        phone cannot be Bob.
      </p>
    </div>
  </div>

  <div class="form-control">
    <button class="btn" [disabled]="userForm.invalid">Confirm</button>
  </div>

</form>
