<h2>Template Driven Form</h2>

<form #f="ngForm" (ngSubmit)="onSubmit()">

  <div class="field" [ngClass]="isInvalid(name) ? 'alert' : ''">
    <label for="name">Name</label>

    <input type="text" name="name" ngModel #name="ngModel" minlength="2" required>

    <div *ngIf="isInvalid(name)" class="alert">

      <p *ngIf="name.errors?.required">
        Name is required.
      </p>

      <p *ngIf="name.errors?.minlength">
        Name must be at least 2 characters long.
      </p>

    </div>
  </div>

  <div class="field" [ngClass]="isInvalid(password) ? 'alert' : ''">
    <label for="">Password</label>

    <input type="password" name="password" ngModel #password="ngModel" minlength="4" maxlength="12" required>

    <div *ngIf="isInvalid(password)">
      <p *ngIf="password.errors?.required">
        Password is required.
      </p>

      <p *ngIf="password.errors?.minlength">
        Password must be at least 4 characters long
      </p>

      <p *ngIf="password.errors?.maxlength">
        Password must at most 12 characters long
      </p>
    </div>
  </div>

  <div class="form-control">
    <button class="btn" [disabled]="isInvalid(f)">Confirm</button>
  </div>

</form>
