/* You can add global styles to this file, and also import other style files */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 2rem 0;
}

.container {
  width: 90%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}


.field {
  margin-bottom: 0.5rem;
}

label {
  display: block;
  margin-bottom: 0.2rem;
}

input {
  padding: 0.8rem 0.4rem;
  width: 100%;
  margin-bottom: 0.2rem;
}

hr {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

h2 {
  margin-bottom: 1rem;
}

.field.alert p {
  color: #f00;
}

.field input {
  border-color: none;
  outline: none;
}
.field.alert input {
  border-color: #f00;
}

.form-control {
  margin-top: 1rem;
}

.close-btn {
  border: 2px solid #000;
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btn {
  background-color: transparent;
  padding: 0.5rem 1rem;
}

.btn:active {
  background-color: #000;
  color: #fff;
}

.btn:disabled {
  background-color: #efefef;
}

.user-fields {
  padding: 1rem;
  border: 1px solid #000;
}

.user-fields header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.form-control .btn:not(:last-child) {
  margin-right: 0.5rem;
}

.user-fields:not(:last-child) {
  margin-bottom: 1rem;
}

.form-submit-result {
  background-color: #f3f3f3;
  padding: 1rem;
  margin: 1rem 0;
}

.result-row {
  padding: 0.35rem 0;
}
